<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6 user-main">
          <h6 class="m-0 font-weight-bold text-primary ">USERS</h6>
        </div>
        <div class="col-md-6 mobile_center text-right">
          <button class="btn btn-primary" (click)="generateUserCsv()"><span class="fas fa-download"></span> ExportCsv</button>
        </div>
      </div>
     
    </div>
    <div class="card-body">
      <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th style="min-width: 50px;">#</th>
              <th style="min-width: 100px;">Name</th>
              <th style="min-width: 100px;">Email</th>
              <th style="min-width: 100px;">Phone</th>
               <th style="min-width: 100px;">Address</th>
              <th style="min-width: 100px;">City</th>
              <th style="min-width: 100px;">Joining Date</th>
              <th style="min-width: 100px;">Reviews</th>
              <th style="min-width: 100px;">Bookings</th>
              <th class="approve_status" style="min-width: 100px;">Block User</th>
              <th style="min-width: 100px;">Status</th>
              <th style="min-width: 50px;">Action</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let item of userList; let i = index">
              <td>{{i + serialNumber + 1}}</td>
              <td>{{item.firstName}} {{item.lastName}}</td>
              <td>{{item.email}}</td>
              <td> {{item.phone}}</td>
              <td>{{item.address}}</td>
              <td>{{item.city}}</td>
              <td>{{item.createdAt | date: 'yyyy-MM-dd'}}</td>
              <td class="text-center"> <button class="action-btn"  data-toggle="tooltip" data-placement="top" title="Reviews" routerLink="/dashboard/user-review-rating/{{item._id}}">
                <span class="fas fa-eye"></span></button>
            </td>
          <td   class="text-center">
                <button  class="action-btn" data-toggle="tooltip" data-placement="top" title="Bookings" routerLink="/dashboard/user-booking/{{item._id}}"><span
                    class="fas fa-eye"></span></button>
              </td>
              <td class="status"><span *ngIf="item.isBlock==true" class="badge badge-info">Blocked</span>
                  <button *ngIf="item.isBlock==false" class="btn btn-primary"
                  (click)="approved(item,'true')">Block</button>
                  <button *ngIf="item.isBlock==true" class="btn btn-primary"
                  (click)="approved(item,'false')">UnBlock</button></td>
              <!-- <td><span class="badge badge-info">{{item.role}}</span></td> -->
              
              <!-- <td [width]="'30px'">
                <span *ngIf="item.isApprove==true" class="badge badge-info">Approved</span>
                <div *ngIf="(role=='SubAdmin'&& access.edit==true)||role=='SuperAdmin'">
                  <button *ngIf="!item.isApprove"
                     class="btn btn-primary"
                    (click)="approved(item)">Approve</button>
                </div>
                <button *ngIf="item.isApprove " class="btn btn-success">Approved</button>
              </td> -->
          <td class="active_status">
              <span *ngIf="item.isActive==true" class="badge badge-info">Active</span>
              <span *ngIf="item.isActive==false" class="badge badge-info">InActive</span>

                </td>
              <td class="action"
               >
                <div class="d-flex">
                  <button
                    class="action-btn mr-1 " routerLink="/dashboard/edit-user/{{item._id}}"><span
                      class="fas fa-fw fa-edit"></span></button>
                  <button  class="action-btn"
                    (click)="deleteUser(item._id)"><span class="fas fa-fw fa-trash"></span></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
