<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 user-main">
              <h6 class="m-0 font-weight-bold text-primary">User Booking</h6>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="history.back()">Back</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th style="min-width: 50px;">#</th>
                  <th style="min-width: 100px;">Order Id</th>
                  <th style="min-width: 100px;">User</th>
                  <th style="min-width: 100px;">Provider</th>
                  <th style="min-width: 100px;">Service</th>
                  <th style="min-width: 100px;">Start Date</th>
                  <th style="min-width: 100px;">Completed Date</th>
                  <th style="min-width: 100px;">Amount</th>
                  <th style="min-width: 100px;">Tax</th>
                  <th style="min-width: 100px;">Price Type</th>
                  <th style="min-width: 50px;">Status</th>
                   </tr>
              </thead>
              <tbody>
               <tr *ngFor="let item of BookingList; let i = index">
                  <td>{{i + serialNumber + 1}}</td>
                  <td>{{item.orderId}}</td>
                  <td>
                    <span class="badge badge-info">{{item.sentBy.firstName}} {{item.sentBy.lastName}}</span>
                  </td>
                  <td>
                  <span class="badge badge-info">{{item.sentTo.name}}</span>
                  </td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal"  data-toggle="tooltip" data-placement="top" title="Review" data-target="#serviceModal" (click)="selectedServiceList = item.services"><span class=" fas fa-eye"></span></button>
                  </td>
                  <td>{{item.startDate | date: 'yyyy-MM-dd'}}</td>
                  <td>{{item.completedDate | date: 'yyyy-MM-dd'}}</td>
                  <td class="rating">
                    <span *ngIf="item.priceType=='Fixed'">{{item.amount}}
                      </span>
                      <span *ngIf="item.priceType=='Negotiate'">{{item.negotiateAmount}}
                      </span>
                    </td>              
                      <td>{{item.tax}}</td>
                
                    <td>
                      <span *ngIf="item.priceType=='Fixed'"  class="badge badge-info">{{item.priceType}}</span>
                      <span *ngIf="item.priceType =='Negotiate'">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#chatModal" (click)="selectedChatList(item.chatList,item.sentBy._id)"><span class="fas fa-eye"></span></button></span>
                     </td>
                 
                  <td [width]="'30px'">
                    <span  class="badge badge-info">{{item.status}}</span>
                   </td>
                  </tr>
              </tbody>
            </table>
          </div>
       </div>
      </div>
    </div>
    <app-provider-modal [sentTo]="selectedProviderList"></app-provider-modal>
    <app-services-modal [services]="selectedServiceList"></app-services-modal>
    <app-user-modal [sentBy]="selectedUserList"></app-user-modal>
    <app-chat-modal [chatList]="chatData" [id]="senderId"></app-chat-modal>