.container-fluid.editormain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card-body {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(32, 38, 40, 0.28);
    margin: 15px;
    border-radius: 6px;
}

.card-body_bank {
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0 1px 6px 0 rgba(32, 38, 40, 0.28);
    margin: 15px;
    border-radius: 6px;
}

.e-richtexteditor .e-rte-content .e-content,
.e-richtexteditor .e-source-content .e-content {
    height: 200px !important;
}

.cms_faq_sec {
    box-shadow: 0 1px 6px 0 rgba(32, 38, 40, 0.28);
    margin: 15px;
    border-radius: 6px;
    margin: 0 41px;
    padding: 14px;
    margin-bottom: 20px;
}

.cms_faq_sec ul li {
    margin-bottom: 22px;
}
button.action-btn span.fas.fa-edit {
    color: #1cd41c;
}
button.action-btn span.fas.fa-trash {
    color: red;
}