<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6 user-main">
          <h6 class="m-0 font-weight-bold text-primary">SERVICES</h6>
        </div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary" data-toggle="modal" data-target="#addEditServiceModal">Add Service</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div >
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th style="min-width: 50px;">#</th>
            <th style="min-width: 100px;">Image</th>
            <th style="min-width: 100px;">Name</th>
            <th style="min-width: 100px;">Category</th>
            <th style="min-width:100px;">Count</th>
            <th style="min-width: 100px;">Created Date</th>
            <th style="min-width: 100px;">Updated Date</th>
            <th style="min-width: 100px;">Is Active</th>
            <th style="min-width: 70px;">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of seviceList; let i = index">
            <td>{{i + serialNumber + 1}}</td>
            <td>
             <figure class="user-img"><img src="{{imageUrl}}/{{item.image}}"></figure> 
            </td>
            <td>{{item.name}}</td>
            <td>{{item.category?item.category.name:'N/A'}}</td>
            <td>{{item.totalusedServices}}</td>
            <td>{{item.createdAt | date: 'yyyy-MM-dd'}}</td>
            <td>{{item.updatedAt | date: 'yyyy-MM-dd'}}</td>
            <td class="text-center">
              <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive" [(ngModel)]="item.isActive" 
                 name="isActive" labelOff="OFF" (click)="Active(item)"></ui-switch>
            </td>
            <td class="text-center">
              <button  class="action-btn mr-1" (click)="modal.onEditSelect(item)"><span class="fas fa-fw fa-edit"></span></button>
              <button class="action-btn" (click)="deleteService(item._id)"><span class="fas fa-fw fa-trash"></span></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-service-modal [imageUrl]="imageUrl" (onAddEdit)="rerender()"></app-service-modal>
