<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h6 class="m-0 font-weight-bold text-primary">ADMIN PROFILE</h6>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="history.back()"> Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Profile
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <form #profileForm="ngForm">
                  <div class="form-group">
                    <label>Name <span class="red">*</span></label>
                    <input type="text" name="name" [(ngModel)]="admin.name"  appCharacterOnly maxlength="50" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label>Email <span class="red">*</span></label>
                    <input type="text" name="email" maxlength="50" [(ngModel)]="admin.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" required />
                  </div>
                  <div class="form-group">
                    <label>Phone <span class="red">*</span></label>
                    <input type="text" name="phone" maxlength="15" [(ngModel)]="admin.phone" appNumberOnly class="form-control" required />
                  </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <button class="btn btn-primary" [disabled]="!profileForm.valid || flags.isUpdate" (click)="updateProfile()">
                    
                      {{flags.isUpdate?'Updating...':'Update'}}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Change Password
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <form #changePasswordForm="ngForm">
                <div class="form-group">
                  <label>Current Password <span class="red">*</span></label>
                  <input type="password" name="currentPassword" [(ngModel)]="changePassBody.oldPassword" maxlength="50" class="form-control" required />
                </div>
                <!-- <div class="form-group">
                  <label>New Password</label>
                  <input type="password" name="currentPassword" [(ngModel)]="changePassBody.newPassword" maxlength="50" class="form-control" required />
                </div> -->
                <div class="form-group">
                  <label>New Password <span class="red">*</span></label>
                  <input type="password" name="currentPassword" [(ngModel)]="changePassBody.password" maxlength="50" class="form-control" required />
                </div>
                <div class="form-group">
                  <button class="btn btn-primary" [disabled]="!changePasswordForm.valid || flags.isPassChange" (click)="changePassword()">
                    {{flags.isPassChange?'Hold on...':'Change Password'}}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
