button:disabled {
  background: #191459;
  border-color: #191459;
  cursor: not-allowed;
}
button {
  outline: none !important;
}

.bg-login-image {
  background: #ffffff !important;
}

.justify-content-center {
    height: 100%;
    align-items: center;
}
.row {
  align-items: center;
}
.row.sec {
  flex-direction: column;
}
figure.login_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login-top {
  padding: 40px 0 0;
}
.main-title {
  font-size: 23px;
  font-weight: bold;
  color: #000;
}
.forget-pswd {
  width: 100%;
  text-align: center;margin: 20px 0 0;
}
.login-wrap {
  height: 100%;
}
.login-wrap .container {
  height: 100%;
}