<div class="modal" id="forgotPasswordModal" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form #forgotForm="ngForm">
          <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" ngModel class="form-control" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!forgotForm.valid || flags.isSubmit" (click)="submit(forgotForm)">{{flags.isSubmit?'Hold on...':'Submit'}}</button>
        <button type="button" class="btn btn-secondary" (click)="forgotForm.reset()" id="closeForgotModal" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
