h4.modal-title {
    color: #000;
    font-weight: bold;
}
.modal-dialog {
  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    border-radius: 100px;
    padding: 25px 20px;
}