<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
      
        <div class="row">
          <div class="col-12 col-lg-4 user-main">
            <h6 class="m-0 font-weight-bold text-primary">Bookings</h6>
          </div>
          <div class="col-12 col-lg-8">
          <div class="inner_filers">
              <label>Filter</label> <div class="filter_left"><input type="text" name="startDate " bsDatepicker [bsConfig]="bsConfig" [(ngModel)]="startDate "
                class="form-control" placeholder="Start Date"></div>
                <div class="filter_left"><input type="text" name="endDate" bsDatepicker [bsConfig]="bsConfig" class="form-control" [(ngModel)]="endDate"
                  placeholder="End Date"></div>
                  <div class="buttons">
                    <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchUser()">Search
                    </button>
                    <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">Reset
                    </button>
                </div>
             </div>
          </div>
         </div>
       </div>
      <div class="card-body">
        <div>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th style="min-width: 50px;">#</th>
                <th style="min-width: 100px;">Order Id</th>
                <th style="min-width: 100px;">User</th>
                <th style="min-width: 100px;">Provider</th>
                <th style="min-width: 100px;">Service</th>
                <th style="min-width: 100px;">Start Date</th>
                <th style="min-width: 100px;">Completed Date</th>
                <th style="min-width: 100pxs;">Amount</th>
                <th style="min-width: 100pxs;">Tax</th>
                <th style="min-width: 100pxs;">Time Slot</th>
                <th style="min-width: 100pxs;">Price Type</th>
                <th style="min-width: 100pxs;">Status</th>
                <th style="min-width: 50pxs;">Action</th>
                 </tr>
            </thead>
            <tbody>
             <tr *ngFor="let item of BookingList; let i = index">
                <td>{{i + serialNumber + 1}}</td>
                <td>{{item.orderId}}</td>
                <td class="text-center">
                  <div data-toggle="modal" data-target="#userModal"
                    (click)="selectedUserList = item.sentBy"><span class="badge badge-info">{{item.sentBy.firstName}} {{item.sentBy.lastName}}</span></div>
                </td>
                <td class="text-center"><div  data-toggle="modal" data-target="#providerModal" (click)="selectedProviderList = item.sentTo"><span class="badge badge-info">{{item.sentTo.name}}</span></div></td>
                <td class="text-center"><button class="action-btn" data-toggle="modal" data-target="#serviceModal" (click)="selectedServiceList = item.services"><span class=" fas fa-eye"></span></button></td>
                <td class="text-center">{{item.startDate | date: 'yyyy-MM-dd'}}</td>
                <td class="text-center">{{item.completedDate | date: 'yyyy-MM-dd'}}</td>
                <td>
                  <span *ngIf="item.priceType=='Fixed'">{{item.amount}}
                    </span>
                    <span *ngIf="item.priceType=='Negotiate'">{{item.negotiateAmount}}
                    </span>
                  </td>
                <td>{{item.tax}}</td>
                <td class="text-center"><span *ngIf="item.bookingType == 'Schedule'">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#ScheduleTimeModal" (click)="selectedscheduleTimeList(item.scheduleTime)"><span class="fas fa-eye"></span></button></span>
                  <span *ngIf="item.bookingType != 'Schedule'">N/A</span>
                </td>
                <td class="text-center">
                <span *ngIf="item.priceType=='Fixed'"  class="badge badge-info">{{item.priceType}}</span>
                <span *ngIf="item.priceType =='Negotiate'">
                  <button class="action-btn" data-toggle="modal" data-target="#chatModal" (click)="selectedChatList(item.chatList,item.sentBy._id)"><span class="fas fa-eye"></span></button></span>
               </td>
                <td  class="text-center">
                  <span  class="badge badge-info">{{item.status}}</span>
                 </td>
                <td class="text-center"> 
                   <span *ngIf="item.status != 'Pending' && item.status != 'Ongoing'" class="badge badge-info">{{item.status}}</span>
                   <button *ngIf="item.status =='Pending'"
                       class="btn btn-primary"
                      (click)="cancel(item)">Cancel</button>
                      <button *ngIf="item.status =='Ongoing'"
                       class="btn btn-primary"
                       (click)="processOrder(item._id, 'Completed', i)">Complete</button>
                  </td>
            </tr>
            </tbody>
          </table>
        </div>
     </div>
    </div>
  </div>
  <app-provider-modal [sentTo]="selectedProviderList"></app-provider-modal>
  <app-services-modal [services]="selectedServiceList"></app-services-modal>
  <app-user-modal [sentBy]="selectedUserList"></app-user-modal>
  <app-chat-modal [chatList]="chatData" [id]="senderId"></app-chat-modal>
  <div class="modal" id="ScheduleTimeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog product-detail" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Time Slots</h5>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
        <table class="table  table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of scheduleTime; let i = index">
            <td>{{i + 1}}</td>
            <td>
              {{item.day}}
            </td>
           <td>{{item.startTime}}</td>
           <td>{{item.endTime}}</td>

               </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
