<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-12">
          <div class="row" style="align-items: center;">
            <div class="col-md-6">
              <h6 class="m-0 font-weight-bold text-primary">EDIT USER</h6>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-primary" (click)="history.back()">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form #userForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name <span class="red">*</span></label>
              <input type="text" name="firstName" maxlength="25"appCharacterOnly   [(ngModel)]="body.firstName" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name <span class="red">*</span></label>
              <input type="text" name="lastName" maxlength="25" appCharacterOnly [(ngModel)]="body.lastName" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email <span class="red">*</span></label>
              <input type="email" name="email" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" [(ngModel)]="body.email" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Address <span class="red">*</span></label>
              <input  ngx-google-places-autocomplete type="text" name="address" [(ngModel)]="body.address"   #placesRef="ngx-places" class="form-control"
              (onAddressChange)="handleAddressChange($event)" required />
            </div>
          </div>
          <div class="col-md-6">
            <div  *ngIf="countryCodes && countryCodes.length>0" class="form-group">
              <label>Country Code <span class="red">*</span></label>
          <ngx-select-dropdown (change)="selectionChanged($event)"  name="countryCode" [(ngModel)]="body.countryCode"  [config]="config" [options]="countryCodes" required></ngx-select-dropdown>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone <span class="red">*</span></label>
              <input type="text" name="phone" minlength="7" maxlength="15" appNumberOnly [(ngModel)]="body.phone" class="form-control" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Country <span class="red">*</span></label>
              <input type="text" name="country" maxlength="50" appCharacterOnly [(ngModel)]="body.country" class="form-control" readonly />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>State <span class="red">*</span></label>
              <input type="text" name="state" maxlength="50" appCharacterOnly [(ngModel)]="body.state" class="form-control" readonly/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>City <span class="red">*</span></label>
              <input type="text" name="city" maxlength="50" appCharacterOnly [(ngModel)]="body.city" class="form-control" readonly />
            </div>
          </div>
         
        </div>
       
        <!-- <div class="card shadow mb-4">
          <div class="card-header py-3">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary"> Company Detail</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Company Name</label>
                <input type="text" name="company"  maxlength="30" [(ngModel)]="body.company" class="form-control"
                  required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Vat Number</label>
                <input type="text" name="vatNumber" appNumberOnly maxlength="20" [(ngModel)]="body.vatNumber" class="form-control"
                  required />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>BRN Number</label>
                <input type="text" name="brnNumber"  appNumberOnly maxlength="20" [(ngModel)]="body.brnNumber" class="form-control"
                  required />
              </div>
            </div>
            </div> -->
        
     
        
        <div class="row mt-2">
          <div class="col-md-12">
            <button class="btn btn-primary" [disabled]="!userForm.valid || flags.isUpdate" (click)="editUser()">
             
              {{flags.isUpdate?'Updating...':'Update'}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
