button:disabled {
  cursor: not-allowed;
}
h4.modal-title {
  color: #000;
  font-weight: bold;
}
.modal-dialog {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
label.file {
  height: 90px;
  border: 1px solid #d1d3e2;
  display: flex;
  justify-content: center;
  align-items: center;position: relative;
}
label.file input#categoryFile {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
label.file span.plus {
  color: #d1d3e2;
  font-size: 52px;
}
.form-group label {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.hvr-chng:hover {
  opacity: 0.7;
}