<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6 user-main">
          <h6 class="m-0 font-weight-bold text-primary">CATEGORIES</h6>
        </div>
        <div  class="col-md-6 mobile_center text-right">
          <button class="btn btn-primary" data-toggle="modal" data-target="#addUpdateCategoryModal">Add Category</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <cdk-drop-list (cdkDropListDropped)="onDrop($event)">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th style="min-width: 50px;">#</th>
            <th style="min-width: 100px;">Image</th>
            <th style="min-width: 100px;">Name</th>
            <th style="min-width: 100px;">Created Date</th>
            <th style="min-width: 100px;">Is Active</th>
            <th style="min-width: 50px;">Action</th>    
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of categoryList ; let i = index" title="Drag to change sequence" cdkDrag cdkDragLockAxis="y">
              <td>{{i + serialNumber + 1}}</td>
            <td>
              <figure class="user-img"><img src="{{imageUrl}}/{{item.image}}"></figure>
            </td>
            <td>{{item.name}}</td>
            <td class="text-center">{{item.createdAt | date: 'yyyy-MM-dd'}}</td>
            <td class="text-center">
              <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive" [(ngModel)]="item.isActive" 
                 name="isActive" labelOff="OFF" (click)="Active(item)"></ui-switch>
            </td>
            <td class="text-center">
              <button  class="action-btn mr-1" (click)="modalComponent.onEditSelect(item)"><span class="fas fa-fw fa-edit"></span></button>
              <button  class="action-btn" (click)="deleteCategory(item._id)"><span class="fas fa-fw fa-trash"></span></button>
            </td>
          </tr>
          </tbody>
        </table>
      </cdk-drop-list>
      <h4 *ngIf="!categoryList.length" class="text-center">No records found.</h4>
    </div>
  <pagination *ngIf="categoryList?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination>
    </div>
  </div>
</div>
<app-category-modal [isEdit]="flags.isEdit" (onAddEdit)="rerender()" [imageUrl]="imageUrl"></app-category-modal>
