<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="m-0 font-weight-bold text-primary">Documents</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" (click)="history.back()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="documents && documents.length >0" class="row documnet_upload_img">
            <div *ngFor="let item of documents; let i = index" class="col-md-6">
                <div class="form-group">
                    <label>{{item.name}}</label>
                    <div class="img-wrap">
                      <figure class="plus-img" *ngIf="item.url"> <img  [src]="imageUrl+item.url" alt="your image" />
                      </figure> 
                        <input type="file" (change)="ondocumenet1Select($event,item,i)" id="categoryFile"
                            class="form-control" accept=".png, .jpg, .jpeg">
                            <span *ngIf="!item.url" class="plus">+</span>
                    </div>
                </div>
            </div>
          
        </div>
        <!---  <div class="col-md-6">
                <div class="form-group">
                    <label>Document Two</label>
                    <div class="img-wrap">
                        <img *ngIf="documentTwo" [src]="imageUrl+documentTwo" alt="your image" width="400px"
                            height="200" />
                      
                  class="btn btn-primary">download</a> 
                        <input type="file" (change)="ondocumenet2Select($event,'documentTwo')" id="categoryFile"
                            class="form-control" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Three</label>
                    <div class="img-wrap">
                        <img *ngIf="documentThree" [src]="imageUrl+documentThree" alt="your image" width="400px"
                            height="200" />
                        <input type="file" (change)="ondocumenet3Select($event,'documentThree')" id="categoryFile"
                            class="form-control" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Four</label>
                    <div class="img-wrap">
                        <img *ngIf="documentFour" [src]="imageUrl+documentFour" alt="your image" width="400px"
                            height="200" />
                        <input type="file" (change)="ondocumenet4Select($event,'documentFour')" id="categoryFile"
                            class="form-control" accept=".png, .jpg, .jpeg">
                    </div>
                </div>
            </div>--->