.all_document_page_sec .img-wrap {
    height: 250px !important;
    }
.img-wrap img { object-fit: cover !important;}
.documnet_upload_img {
    padding: 15px 2rem;
    padding-bottom: 10px;
}
.img-wrap {
    position: relative;
    height: 203px;    border: 2px dotted #dddddd;    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrap input {
    height: 192px;
    position: absolute;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
span.plus {
    color: #dddddd;
    FONT-SIZE: 100PX;
}
figure.plus-img {
    margin: 0;
    width: 140px;
    height: 160px;
}
.img-wrap figure.plus-img img {
    width: 100%;
    height: 100%;
    object-fit: contain!important;
}
.card.shadow.mb-4 .form-group label {
    color: #000;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}