.sidebar .sidebar-brand {
  font-size: 1.3rem !important;
}

.sidebar-brand-icon img {
  width: 100%;
  margin: auto;
}

.sidebar-brand-text img {
  width: 100%;
  margin: auto;
} 


.sidebar-brand-icon figure {
  width: 70px;
}
.sidebar-brand-text figure{width: 70px;    margin: auto;}

.sidebar-toggled .sidebar-brand-text figure{width: 60px;}


.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion .sidebar-brand-icon {
  display: none;
}
.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion.toggled .sidebar-brand-icon {
  display: block;
}
.sidebar.toggled .nav-item .nav-link span {
  font-size: 14px !important;
}
.sidebar-dark .nav-item .nav-link img {
  width: 20px;
  margin-right: 10px;
  height: 20px;
  overflow: hidden;
}
.sidebar.toggled .nav-item .nav-link img {
  margin-right: 0;
}
.sidebar-brand-text img {
  width: 100%;height: 100%;object-fit: contain
  ;
}
.sidebar .sidebar-brand {
  height: auto !important;
  text-align: left !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;    padding: 10px 0;
}
.sidebar-brand-tex figure   {margin: auto;
width: 50;}
.navbar-nav.sidebar.sidebar-dark.accordion.toggled a.sidebar-brand {
  align-items: center !important;
  justify-content: center !important;
}
