<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-md-6 user-main">
          <h6 class="m-0 font-weight-bold text-primary">PROVIDERS</h6>
        </div>
        <div class="col-md-6 mobile_center text-right">
          <button class="btn btn-primary" (click)="generateProviderCsv()"> Export Csv
          </button>
          <button class="btn btn-primary ml-2" routerLink="/dashboard/add-provider">
            Add Provider
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div>
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-responsive">
          <thead>
            <tr>
              <th style="min-width: 50px;">#</th>
              <th style="min-width: 100px;">Image</th>
              <th style="min-width: 100px;">Name</th>
              <th style="min-width: 100px;">Email</th>
              <th style="min-width: 100px;">Phone</th>
              <th style="min-width: 100px;">Address</th>
              <th style="min-width: 100px;">Bio</th>
              <th style="min-width: 100px;">Ratings</th>
              <th style="min-width: 100px;">Reviews</th>
              <th style="min-width: 100px;">Services</th>
              <th>Document</th>
              <th class="approve_status" style="min-width: 100px;">Approve</th>
              <th style="min-width: 100px;">Joining Date</th>
              <th style="min-width: 100px;">Status</th>
              <th style="min-width: 100px;">Pay</th>
              <th style="min-width: 100px;">Refund</th>
              <th style="min-width: 50px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList; let i = index">
              <td>{{ i + serialNumber + 1 }}</td>
              <td>
                <figure *ngIf="item.image != '' && item.image" class="user-img"><img src="{{ imageUrl }}/{{ item.image }}" /></figure>
                <figure *ngIf="!item.image || item.image == ''" class="user-img">
                  <img src="assets/img/default-user.png"/></figure>
              </td>

              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.bio }}</td>
              <td class="ratingss">
                <span *ngIf="item.avgRating == 0">
                  <star-rating value="0" totalstars="5" checkedcolor="blue" uncheckedcolor="gray" size="16px"
                    readonly="true"></star-rating>
                </span>
                <span *ngIf="item.avgRating != 0">
                  <star-rating value="{{ item.avgRating }}" totalstars="5" checkedcolor="blue" uncheckedcolor="gray"
                    size="16px" readonly="true"></star-rating>
                </span>
              </td>
              <td class="text-center">
                <button class="action-btn" data-toggle="tooltip" data-placement="top" title="Reviews"
                  routerLink="/dashboard/review-rating-provider/{{ item._id }}">
                  <span class="fas fa-eye"></span>
                </button>
              </td>
              <td class="text-center">
                <button class="action-btn" data-toggle="tooltip" data-placement="top" title="Services"
                  routerLink="/dashboard/provider-service/{{ item._id }}">
                  <span class="fas fa-eye"></span>
                </button>
              </td>
              <td class="text-center">
                <button class="action-btn" data-toggle="tooltip" data-placement="top" title="Document"
                  routerLink="/dashboard/provider-document/{{ item._id }}">
                  <span class="fas fa-eye"></span>
                </button>
              </td>

              <td class="status text-center">
                <span *ngIf="item.isApprove == true && item.isBlock == false" class="badge badge-info">Approved</span>
                <span *ngIf="item.isApprove == false && item.isBlock == true" class="badge badge-info">Blocked</span>
                <button *ngIf="
                    item.isApprove == false &&
                    item.isBlock == false &&
                    item.document != null &&
                    item.document.documents.length > 0
                  " class="btn btn-primary" (click)="approved(item, 'true', 'false')">
                  Approve
                </button>
                <button *ngIf="item.isBlock == false && item.isApprove == true" class="btn btn-primary"
                  (click)="approved(item, 'false', 'true')">
                  Block
                </button>
                <button *ngIf="item.isBlock == true && item.isApprove == false" class="btn btn-primary" (click)="approved(item, 'false', 'false')">
                  UnBlock
                </button>
                <!-- <button *ngIf="item.isApprove " class="btn btn-success">Approved</button> -->
              </td>
              <td class="text-center">{{ item.createdAt | date: "yyyy-MM-dd" }}</td>
              <td [width]="'30px'" class="text-center">
                <span *ngIf="item.isActive == true" class="badge badge-info">Active</span>
                <span *ngIf="item.isActive == false" class="badge badge-info">InActive</span>
              </td>
              <td class="text-center">
                <button *ngIf="item.pspid && item.totalAmount > 0" [disabled]="booking" class="btn btn-primary"
                  (click)="payItm(item)">
                  Pay {{ item.totalAmount }}
                </button>
                <span *ngIf="
                    item.totalAmount == '0' &&
                    item.paybleAmount != '0' &&
                    item.amountPaid != '0'
                  " class="badge badge-info">Paid</span>
                <span *ngIf="item.paybleAmount == '0' && item.amountPaid == '0'" class="badge badge-info">No
                  Bookings</span>
              </td>
              <td class="text-center">
                <button *ngIf="item.refund==false && item.isApprove==true" class="btn btn-primary"
                (click)="Refund(item)">
                Refund
              </button>
              <span *ngIf="item.refund==true && item.isApprove==true" class="badge badge-info">Refunded</span>
            </td>
              <td class="action">
                <div class="d-flex">
                  <button class="action-btn mr-1" routerLink="/dashboard/edit-provider/{{ item._id }}">
                    <span class="fas fa-fw fa-edit"></span>
                  </button>
                  <button class="action-btn" (click)="deleteUser(item._id)">
                    <span class="fas fa-fw fa-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <pagination *ngIf="userList?.length>0" [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChange($event)"></pagination> -->
      </div>
    </div>
  </div>
</div>