/* You can add global styles to this file, and also import other style files */

@import "~ngx-bar-rating/themes/br-stars-theme";
.active {
    color: #ffffff;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.badge {
    padding: 0.5em 0.4em !important;
}

table.dataTable thead th {
    width: auto !important;
    font-size: 14px;
}

.inner_filers label {
    margin-right: 11px;
    margin-bottom: 0;
}

.inner_filers {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
figure {
    margin: 0;
}
.filter_left {
    margin-right: 10px;
}

.bg-gradient-primary {
    height: 100% !important;
}

.user_filter label {
    margin-right: 10px;
}

.user_filter {
    display: flex;
    align-items: center;
    justify-content: felx-start;
}

.user_title {
    margin-bottom: 15px;
}

div#DataTables_Table_0_paginate {
    margin-top: 15px;border: 1px solid #dddddd;
    padding: 0;
}
.dataTables_wrapper .dataTables_paginate  .paginate_button {border-right: 1px solid #dddddd!important;}
div#DataTables_Table_0_info {
    margin-top: 15px;
}

.dataTables_wrapper .dataTables_filter input {
   
    border: 1px solid #ddd;
}
.action-btn {
    border-radius: 100px!important;
    width: 30px;
    height: 30px;
    padding: 0!important;
}
.action-btn span {
    color: #000;
    font-size: 15px;
}
.dataTables_wrapper {
   overflow: hidden;
    overflow-x: auto;
}
.action-btn span.fas.fa-fw.fa-edit {
    color: #1cd41c;
}
.action-btn span.fas.fa-fw.fa-trash {
    color: red;
}
button.action-btn {
    background: none;
    border: none;
}
table.dataTable.no-footer {
    table-layout: unset!important;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 16px!important;
    border: 1px solid #ddd!important;
    border-right:none!important;    color: #000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff!important;
    border: 1px solid #191459!important;
    background-color: #191459!important;
    background: linear-gradient(to bottom, #191459 0%, #191459 100%)!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  
    min-width: 20px!important;
    padding: 2px 10px!important;}
    table.dataTable tbody td, table.dataTable tbody th {
     
        border-right: 1px solid #ddd;
    }
    .card-body label {
        margin-bottom: 0px !important;
        color: #000 !important;
        font-size: 14px !important;
        font-weight: bold;
    }
    select:focus {
        outline: none;
    }
    th:focus{ outline: none;}
    input[type="search"]:focus{  outline: none;}
    .card-body.sec {
      
        height: 600px;
        overflow-y: auto;
    }
    table.dataTable.no-footer {
       
        margin: 50px 0 0;
    }
    span.red {
        color: red;
    }
    .ngx-dropdown-container button span {
        
        font-size: 13px!important;
    }
    .ngx-dropdown-container button .nsdicon-angle-down::before {
        top: 6px;
        height: 5px!important;
       
        width: 5px!important;}
        .ngx-dropdown-container .ngx-dropdown-button:focus{border: 1px solid #d1d3e2!important;}


        ::-webkit-scrollbar {
            width: 5px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #ddd; 
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #ddd; 
          }
          figure.tabl-img {
            width: 30px;
            height: 30px;
            margin: auto;
            margin-bottom: 0;
        }
        figure.tabl-img img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        figure.login_img {
            width: 140px;
          
            margin: auto;
        }
          .user-main {    align-items: center;
            display: flex;}
      
            .user-img img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            figure.user-img {
                margin: 0;
                width: 40px;
                height: 40px;
                margin: auto;
                border-radius: 100px;
                overflow: hidden;
                border: 1px solid #ddd;
            }
            td.ratingss .star {
                color: gold!important;}
                td.ratingss {
                    text-align: center;
                }
                td.status {
                    text-align: center;
                }
                .card-body .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                    color: #fff !important;}


                    .card-body .checked {
                        background: rgb(255 138 116)!important;
                        border-color: rgb(255 138 116)!important;
                    }
                    .card-body span.switch.switch-medium.switch-labeled.checked small {
                        background: rgb(25 20 89)!important;
                    }
                    .card-body .switch-medium small{ background: #ddd!important;  width: 20px!important;
                        height: 20px!important;top: 3px;
                        left: 5px;}
                    .card-body .switch-medium {
                       
                        height: 27px!important;
                    }       
                    .card-body .switch-medium.switch-labeled.checked small {
                        left: 36px!important;
                        top: 4px!important;
                        width: 20px!important;
    height: 20px!important;
                    }  
                    .pagination {
                        
                        justify-content: flex-end;
                    }           
                    table {
                        width: 120%;
                    }

                    .modal-body .checked {
                        background: rgb(255 138 116)!important;
                        border-color: rgb(255 138 116)!important;
                    }
                    .modal-body span.switch.switch-medium.switch-labeled.checked small {
                        background: rgb(25 20 89)!important;
                    }
                    .modal-body .switch-medium small{ background: #ddd!important;  width: 20px!important;
                        height: 20px!important;top: 3px;
                        left: 5px;}
                    .modal-body .switch-medium {
                       
                        height: 27px!important;
                    }       
                    .modal-body .switch-medium.switch-labeled.checked small {
                        left: 36px!important;
                        top: 4px!important;
                        width: 20px!important;
    height: 20px!important;
                    } 
                    // .sidebar-toggled span {
                    //     display: none!important;
                    // }
                    .card-body .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                        color: white !important;
                        border: 1px solid #191459;
                        background-color: #191459;
                   
                        background: linear-gradient(to bottom, #191459 0%, #191459 100%);
                    }

                    table.dataTable.no-footer {
                        border-bottom: 1px solid #dddddd !important;
                    }

@media only screen and (max-width:1100px)
{
    .inner_filers .buttons {
        width: 100%;
    }
}

@media only screen and (max-width:992px)
{
    .inner_filers {
        padding: 20px 0px;
    }
}

@media only screen and (max-width:767px)
{
    .user-main
    {
        justify-content: center;
        padding: 10px 0px;
    }
    .text-right
    {
        text-align: center !important;
    }
    .mobile_center
    {
        text-align: center !important;
        justify-content: center;
        align-items: center;
    }
}






