<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row">
          <div class="col-md-6">
            <h6 class="m-0 font-weight-bold text-primary">SERVICES</h6>
          </div>
          <div class="col-md-6 mobile_center text-right">
          <button class="btn btn-primary" (click)="history.back()"><span
                  class="fas fa-arrow-left"></span>
              Back</button>
      </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Pay Type</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Service</th>
                  <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of ServicesList; let i = index">
                  <td>{{i + 1}}</td>
                  <td>
                    {{item.name}}
                  </td>
                 <td>{{item.payType}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.category.name}}</td>
                  <td><button class="btn btn-primary" data-toggle="modal" data-target="#serviceModal" (click)="selectedServiceList(item.service)"><span class=" fas fa-eye"></span></button></td>
                  <!-- <td>{{item.brand?item.productId.brand.name:'N/A'}}</td> -->
                  <td>{{item.desc}}</td>       
                     </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="serviceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog product-detail" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Service Information</h5>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of service; let i = index">
            <td>{{i + 1}}</td>
            <td><img src="{{imageUrl}}/{{item.image}}" width="70px" height="70px"></td>
           <td> {{item.name}} </td>    
         </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>